Repository YAPP-Github/20th-iOS-Team-1-BE, pull requests merged in 2022-05, with the labels that each got.

#5 Feature/4 building ci/cd pipeline
  .github/workflows/deploy.yaml
  Dockerfile
  build.gradle
  src/main/java/com/yapp/pet/global/config/JasyptConfig.java
  src/main/resources/config/application-dev.yaml
  src/main/resources/config/application.yaml
Labels: config, pipeline

#10 feat: add Healthcheck API
  src/main/java/com/yapp/pet/global/config/SecurityConfig.java
  src/main/java/com/yapp/pet/web/HealthController.java
Labels: config

#12 Feature/8 검색어로 모임 조회
  src/main/java/com/yapp/pet/domain/accountclub/entity/AccountClub.java
  src/main/java/com/yapp/pet/domain/breed/entity/Breed.java
  src/main/java/com/yapp/pet/domain/club/ClubService.java
  src/main/java/com/yapp/pet/domain/club/entity/Club.java
  src/main/java/com/yapp/pet/domain/club/entity/ClubStatus.java
  src/main/java/com/yapp/pet/domain/club/repository/ClubRepository.java
  src/main/java/com/yapp/pet/domain/club/repository/ClubRepositoryCustom.java
  src/main/java/com/yapp/pet/domain/club/repository/ClubRepositoryImpl.java
  src/main/java/com/yapp/pet/domain/pet/entity/Pet.java
  src/main/java/com/yapp/pet/global/util/DistanceUtil.java
  src/main/java/com/yapp/pet/web/club/ClubController.java
  src/main/java/com/yapp/pet/web/club/dto/ClubDto.java
  src/main/java/com/yapp/pet/web/club/model/SearchingClubDto.java
  src/main/resources/config/application-local.yaml
  src/test/java/com/yapp/pet/domain/club/ClubServiceTest.java
  src/test/java/com/yapp/pet/domain/club/repository/ClubRepositoryImplTest.java
Labels: feat

#17 feat: swagger springfox -> springdoc-openapi 변경
  build.gradle
  src/main/java/com/yapp/pet/global/config/OpenApiConfig.java
  src/main/java/com/yapp/pet/global/config/SecurityConfig.java
  src/main/java/com/yapp/pet/global/config/SwaggerConfig.java
  src/main/resources/config/application-dev.yaml
  src/main/resources/config/application-local.yaml
Labels: bug, fix
